.primary-button{
    background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #09bd62, #86cb4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #09bd62, #86cb4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:0px;

    height: 50px;
font-size: 18px;
border-radius: 10px;
color:white;
    padding-left: 20px;
    padding-right: 20px;
}


@media screen and (max-width: 992px)

{
  .primary-button{
  background: #56ab2f;
    background: -webkit-linear-gradient(to right, #09bd62, #86cb4b);
    background: linear-gradient(to right, #09bd62, #86cb4b);
    border: 0px;
    height: 41px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 141px;
  }
}





.primary-button-card{
    background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #09bd62, #86cb4b);  /* Chrome 10-25, Safari 5.1-6 */
background: #eaeffa; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:0px;
    height: 39px;
    font-weight: bold;
    width: 90px;
font-size: 18px;
border-radius: 12px;
color:#5a82d8;


}

.primary-button-resume{
     background: white; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, white, white); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, white, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:0px;
height: 41px;
    width: 153px;
font-weight: bold;
font-size: 20px;
border-radius: 10px;
color:#00b300;


}

@media screen and (max-width: 992px)
{
  .primary-button-resume{
    background: white; /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, white, white); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, white, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:0px;
height: 31px;
width: 125px;
font-weight: bold;
font-size: 15px;
border-radius: 10px;
color: #00b300;
margin-top: -29px


}
}

.primary-button-sos{
    background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #09bd62, #86cb4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #09bd62, #86cb4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:0px;
    height: 58px;
    width: 218px;
font-size: 23px;
font-weight: bold;
border-radius: 12px;
color:white;


}

.primary-button-sm{
    background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #09bd62, #86cb4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #09bd62, #86cb4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:0px;
height: 40px;
    width: 150px;
font-size: 15px;
font-weight: bold;
border-radius: 12px;
color:white;


}

.primary-button-resume:hover {
  background:linear-gradient(to right, #09bd62, #86cb4b);
  color:white;

}

.primary-button-card:hover {
  background:linear-gradient(to right, #09bd62, #86cb4b);
  color:white;

}

.primary-button:hover {
  background:white;
  color:#09bd62;

}

.primary-button-sm:hover {
  background:white;
  color:#09bd62;

}

.primary-button-sos:hover {
  background:white;
  color:#09bd62;

}

.top-back
{
  margin-top: -78px; width: 89%; margin-left:42px;
}
@media screen and (max-width: 992px)
{
.top-back
{
  width: 90%;
  margin-left: 20px;
  margin-top: -97px;
  z-index: 1;
 
  }
}
}




 input[type=text], select, textarea {
  width: 79%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  margin-left: 30px;
  margin-right: 30px;
}


textarea
{
  width: 101%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.inputarea
{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {

  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.item {
    height: 230px;
    width: 450px;
    background: none;
    background-color: white;
    padding: 1rem;
     -webkit-box-shadow: 0px 6px 40px 0px rgba(214,211,214,1);
-moz-box-shadow: 0px 6px 40px 0px rgba(214,211,214,1);
box-shadow: 0px 6px 40px 0px rgba(200,200,200,1);
border:none;
}


.background-top-image 
{

width:100%;
height: 900px;
background-size: cover;
background-repeat: no-repeat;
}

.title-top
{
  font-size: 40px; font-weight: bold;color:white;
}

@media screen and (max-width: 992px)
{
  .title-top
{
  font-size: 30px; 
}
}

.header-item
{
   color:white !important;
  font-size: 17px;
}

.h1
{
  color:white !important; font-size: 40px; font-weight: bold;
}

@media screen and (max-width: 992px)
{
  .h1
{
  color:white !important; font-size: 40px; font-weight: bold;font-size: 20px;
}
}

.h2
{
  font-size:138%;color:white !important;
}

@media screen and (max-width: 992px)
{
  .h2
{
  font-size:15px;color:white !important; line-height: 10px;
}
}

.catergories
{
  border-bottom: 1px solid black !important; padding-bottom:5px !important; border-width: 5px !important;  border-color:grey !important;
}

.card-m
{
  width: 18rem;
    min-height: 70px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.card-background
{
   background-color: #eaeffa;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 150px;

}
  .card-src
  {
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
  }

  .about-us{
    font-size: 40px;color:#404040; font-weight: bold;
  }

  .about-us-d
  {
    font-size:20px; color:grey; margin-left: 10% ; margin-right: 10%;
  }

  .ser1
  {
    font-size:25px;color:#404040; font-weight:bold;
  }

  @media screen and (max-width: 992px)
  {
    .ser1
  {
    font-size:14px;color:#404040; font-weight:bold;
  }

  }

  .ser2
  {
    font-size:18px; color:grey;
  }

  @media screen and (max-width: 992px){
    .ser2
  {
    font-size:10px; color:grey;
  }

  }

  .cf
  
  {
    font-size:35px; font-weight:bold;

  }

  .cc1
  {
    width: 500px; height:280px; border-radius:12px;
  }


  @media screen and (max-width: 992px)
  {
    .cc1
  {
    width: 500px; height:280px; border-radius:12px;
  }
  }


  .cc2
  {
    width:15%; display:inline;
  }

  .cc3
  {
    font-weight: bold;
    margin-top: -59px;
    margin-left: 84px;
    font-size: 20px;
  }

  @media screen and (max-width: 992px)
  {
    .cc3
  {
    font-weight: bold;
    margin-top: -59px;
    margin-left: 84px;
    font-size: 14px;
  }
  }

  .cc4
  {
    color: grey;
    margin-left: 82px;
    margin-top: -16px;
    font-size: 20px;
    font-weight: lighter;
  }

  @media screen and (max-width: 992px)
  {
    .cc4
  {
    color: grey;
    margin-left: 82px;
    margin-top: -16px;
    font-size: 14px;
    font-weight: lighter;
  }
  }
  

  .cc5
  {
    width: 12%;
    margin-left: 359px;
    margin-top: -89px;
  }
  
  .cc6
  {
    font-size:17px; color:grey;
  }

  @media screen and (max-width: 992px)
  {
    .cc6
    {
      font-size:14px; color:grey;
    } 
  }

  .ccard
  {
    width: 100%;  border-radius:20px;
  }

  .ccard1
  {
    font-weight: bold; font-size:40px;
  }

  .contactinput
  {
    background-color:#f5f5ef;border-color:#f5f5ef; width:102%; font-size:110%; border-radius: 10px;
    border: 0;
    height: 45px;
    padding: 13px;
  }

 
  .contacttextarea
  {
    background-color:#f5f5ef;border-color:#f5f5ef; height:250px; font-size:110%;  border-radius: 10px;
    
  }

  .f1
  {
    padding-top:300px;
  }

  .f1-1
  {
    font-weight: bold; color:white; line-height: 70px;
  } 

  
  @media screen and (max-width: 992px)

  {
    .f1-1
  {
    font-weight: bold; color:white; line-height: 30px; font-size: 20px;
  } 
  }

  .f1-2
  {
    font-size:20px;  color:white;  line-height: 20px;
  }

  @media screen and (max-width: 992px)
  {
    .f1-2
  {
    font-size:15px;
  }
  }

  .f2-1
  {
     color:white; line-height: 70px;
  }

  @media screen and (max-width: 992px)
  {
    .f2-1
  {
     font-size: 20px;  line-height: 30px;
  }
  }

  .f2-2
  {
    font-size:20px;  color:white; line-height: 20px;
  }

  @media screen and (max-width: 992px)
  {
    .f2-2
  {
    font-size:15px;
  }
  }

  .f3-1
  {
     color:white ; line-height: 70px;
  }

  @media screen and (max-width: 992px)
  {
    .f3-1
  {
    font-size:20px;  line-height: 30px;
  }
  }

  .f3-2
  {
    font-size:20px;  color:white; line-height: 20px;
  }

  @media screen and (max-width: 992px)
  {
    .f3-2
  {
    font-size:15px; 
  }
  }

  
    .cot2
  {
    }
 

  @media screen and (max-width: 992px)
  {
    .cot2
    {
      flex-direction:column-reverse;
    display:flex;
    }
   
  }

  .aaimg
  {
    width: 130px;
    margin-left: 30px;
  }

  @media screen and (max-width: 992px)
  {
    .aaimg
  {
    width: 130px;
    margin-left: 246px;
    margin-bottom: -113px;
  }
  }

  .aaimgc
  {
    width: 130px;
    margin-left: 1px;
  }

  @media screen and (max-width: 992px)
  {
    .aaimgc
  {
    width: 130px;
    margin-left: -190px;
    margin-top: -127px;
  }

  }

  .navtop
  {

  }


  @media screen and (max-width: 992px)
  {
    .navtop
    {
      line-height: 15px;
    }
  
  }

.cf{
  position: absolute;
    background-image: url(image/shape11.png);
    height: 740px;
    width: 674px;
    background-size: contain;
    right: -30px;
    background-repeat: no-repeat;
    margin-top: -190px;
}
